@import url("https://use.typekit.net/zub8slb.css");

@tailwind base;

@layer base {
  html {
    @apply font-serif h-screen;
  }

  #root {
    @apply p-10 print:p-0;
  }

  @media print {
    body {
      margin-top: 0 !important;
    }

    @page {
      size: A4 landscape;
    }

    #root {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@tailwind components;
@tailwind utilities;